body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color:black;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
}

#wrapper{
margin: 0px auto;
padding: 0px;
}

header {
  grid-area: header;
}

nav {
float: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: rgb(204, 0, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: rgb(117, 31, 113);
}