body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  color:black;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#wrapper{
margin: 0px auto;
padding: 0px;
}

header {
  grid-area: header;
}

nav {
float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  position: relative;
  margin-top: 80px;
}

nav a {
  color: #B91009;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: rgb(104, 10, 10);
}

h1 {
  text-align: center;
  color: #6E0406;
}

p {
  text-align: left;
  color: #E62101;
}

a {
  padding: 5px;
  color: rgb(212, 154, 66);
}
